# Logrotate file managed by Salt
# This file is managed by Salt via {{ source }}
{% if accumulator|default(False) %}
{%- for logdir in accumulator['vhost_logrotate'] -%}
{{ logdir }}/*.log
{% endfor -%}
{
        daily
        missingok
        rotate 14
        compress
	      delaycompress
        notifempty
        dateformat -%Y-%m-%d
        dateext
        sharedscripts
      	postrotate
          [ -d /etc/apache2 ] && apache2ctl graceful > /dev/null 2>&1
          [ -f /var/run/nginx.pid ] && kill -USR1 `cat /var/run/nginx.pid`
      	endscript
      	prerotate
      		if [ -d /etc/logrotate.d/httpd-prerotate ]; then \
      			run-parts /etc/logrotate.d/httpd-prerotate; \
      		fi; \
        endscript
}

{% endif %}
